* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial;
}

body {
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-inline:2em 4em;
  padding-block-start: 8em;
}

h1 {
  color: white;
  font-size: 1.75rem;
  margin-block: 1em;
}

i {
  color: rgb(102, 20, 255);
  font-size: 1.5rem;
}

span {
  display: block;
  color: rgb(102, 20, 255);
  font-weight: 300;
  font-size: 2.5rem;
}

input {
  width: 15em;
  height: 3em;

  border: none;
  padding-inline: 1em;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
}

.wrapper {
  overflow: hidden;
  border-radius: .5em;

  display: flex;
  align-items: center;
  justify-content: center;
}

label {
background-color: rgb(102, 20, 255);
width: 4em;
height: 3em;
display: flex;
align-items: center;
justify-content: center;
color:white;
font-weight: 600;
}

button {
  margin-block: 2em;
  font-size: 1.2rem;
  color: black;
  background-color: rgb(102, 20, 255);
  padding: 0.5em;
  border: 0;
  border-radius: 0.5em;
  font-weight: 700;
}

#btn:active{
  background-color: color-mix(in srgb, rgb(102, 20, 255) 40%, white 10%);
}

button:active {
  background-color: color-mix(in srgb, orange 50%, white 10%);
}
